<!--
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Finanzas Personales</title>
</head>
<body>
    <h1>Registro de Finanzas Personales</h1>
    <form method="POST">
        <label for="tipo">Selecciona el tipo:</label>
        <select name="tipo" id="tipo">
            <option value="ingreso">Ingreso</option>
            <option value="gasto">Gasto</option>
        </select>
        <br>
        <label for="monto">Monto (en euros):</label>
        <input type="number" name="monto" id="monto" step="0.01" min="0" placeholder="Euros" required>
        <br>
        <label for="fecha">Fecha:</label>
        <input type="date" name="fecha" id="fecha" required>
        <br>

        <input type="submit" value="Guardar">
    </form>
</body>
</html>
-->

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      var ingresos_json = {{ ingresos_json|tojson|safe }};
      var gastos_json = {{ gastos_json|tojson|safe }};
    </script>
    <title>Registro de Finanzas Personales</title>
</head>
<body>
    <div class="nav">
        <div class="nav-header">
            <div class="nav-title">
              REGISTRO FINANZAS
            </div>
        </div>
        <input type="checkbox" id="nav-check">
        <div class="nav-btn">
          <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </div>
        
        <div class="nav-links">
          <a href="/"> Graficos </a>
          <a href="registro_ingresos.html">Ingresos</a>
          <a href="registro_gastos.html">Gastos</a>
        </div>
    </div>
    <div id="total-ingresos-container">
      <p>Total de Ingresos: <span id="totalIngresos">0</span> euros</p>
    </div>
    <div id="total-gastos-container">
      <p>Total de Gastos: <span id="totalGastos">0</span> euros</p>
    </div>

    <div id="grafico-container-ingresos">
      <canvas id="miGraficoIngresos"></canvas>
    </div>
    <div id="grafico-container-gastos">
      <canvas id="miGraficoGastos"></canvas>
    </div>
    
</body>
</html>
